<h1>User info</h1>
<%= image_tag @user.get_image %>
<p>name</p>
<p><%= @user.name %></p>
<p>introduction</p>
<p><%= @user.introduction %></p>


<h1>New Book</h1>
<%= form_with model: @newbook do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
